# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Datasets
datasets/raw/*
datasets/processed/*
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep

# Results
results/raw/*
results/processed/*
!results/raw/.gitkeep
!results/processed/.gitkeep

# Captures
capture/*.pcap
capture/*.pcapng

# Logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# Secrets
.env
*.key
*.pem

# MQTT runtime data
docker/mqtt/log/*
docker/mqtt/data/*
!docker/mqtt/log/.gitkeep
!docker/mqtt/data/.gitkeep


# Packet captures
capture/pcap/*
!capture/pcap/.gitkeep

# Generated graph artifacts
graph/output/*
!graph/output/.gitkeep

docs/mftst.pdf

results/checkpoints/
